<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/styles/login form.css">
</head>
<body>


<form action="/action_page.php" method="post">
  <div class="imgcontainer">
    <img src="/static/images/login images.png" alt="logo" class=" logo" width="100px" height="100px">
  </div>

  <div class="container" align ="center">
    <input type="text" placeholder=" Username" name="uname" required> <br>
    <input type="password" placeholder=" Password" name="psw" required>
      <br>  
  </div>
  <div align ="center">
    <button type="submit">Sign in</button> <br>
    <label>
    No account yet? <a href="http://">Sign Up</a> <br>
    </label>
  </div>

</form>

</body>
</html>
