<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div align = right> <a href="/">Sign up</a> </div>
    <div align='center'>
        <h1>Log In</h1>
        <img src="/static/images/scene.jpg" height="200" width="450" alt="image">
        <form method="POST">
            <p>Username: <input type="text" size=65 name="username"  value="{{request.form.username}}"> </p><br>        
             <p>Password: <input type="password" size=65 name="password"  value="{{request.form.password}}"> </p><br> 
             <button type="submit">Submit</button><br>
             {% if error %}
             {{error}}
             {% endif %}
        </form>

    </div>
</body>
</html>