<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div align='center'>
        <h1>My Website</h1>
        <img src="/static/images/Tobiichi.Origami.full.1188196.jpg" height="200" width="150" alt="image">
        <form method="POST">
            <p>Username: <input type="text" size=65 name="username" required value="{{request.form.username}}"> </p><br>        
             <p>Password: <input type="password" size=65 name="password" required value="{{request.form.password}}"> </p><br> 
             <button type="submit">Submit</button>
             {% if error %}
             {{error}}
             {% endif %}
        </form>

    </div>
</body>
</html>